
    <title>{{site_title}} GEM</title>
    <h1 class="header-heading">
      <a   href="{% url 'aluno:dashboard' %}" class="header-link">
        GEM - Grupo de Estudo Musical
      </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            {% if user.is_authenticated %}

                <li class="menu-item">

                    <a href="{% url 'aluno:about-us' %}" class="menu-link">Alunos</a>
                </li>

                <li class="menu-item">

                    <a href="{% url 'aluno:create' %}" class="menu-link">Cadastrar aluno</a>
                </li>
                
                <li class="menu-item">

                    <a href="{% url 'aluno:user_update' %}" class="menu-link">Perfil</a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'aluno:logout' %}" class="menu-link">Sair</a>
                </li>

                {% else %}

                <li class="menu-item">
                    <a href="{% url 'aluno:login' %}" class="menu-link">Login</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'aluno:register' %}" class="menu-link">Cadastrar</a>
                </li>

            {% endif %}
          
        
        </ul>
    </nav>
    
