{% extends 'global/base.html' %}

{% include 'global/partials/_header.html' %}

{% block content %}

{{ user.groups.all.0 }}
<div class="single-aluno">
       <h1>{{aluno.nome_completo}}</h1>
       <p><b>ID:</b> {{aluno.id}}</p>
       <p><b>Localidade:</b> {{aluno.localidade}}</p>
       <p><b>Instrumento:</b> {{aluno.instrumento.nome}}</p>
       <p><b>Estado Civil:</b> {{aluno.estado_civil}}</p>
       <p><b>Telefone:</b> {{aluno.telefone}}</p>
       <p><b>Operadora:</b> {{aluno.operadora}}</p>
       <p><b>Data Nascimento:</b> {{aluno.date_nascimento}}</p>
       <p><b>Data Batismo:</b> {% if aluno.data_batismo %}
                                {{aluno.data_batismo}}  
                                {% else %}
                                                          
        {% endif %}</p>
        <p><b>Data de inicio do GEM:</b> {{aluno.inicio_gem}}</p>

        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'aluno:update' aluno.id %}">Atualizar</a>
        
            <form action=" {% url 'aluno:delete' aluno.id %}" method="POST">
                {% csrf_token %}

                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Deletar</button>

                {% endif %}


            </form>
        </div>
    </div>
{% endblock content %}

