{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site_title}} - GEM</title>
  <link rel="stylesheet" href="{% static 'global/css/alunos.css' %} ">

</head>
<header class="header">
  {% include 'global/partials/_header.html' %}
  {% include 'global/partials/_search.html' %}
</header>

<body>
  <main class="content">
    {% block content %}

    {% if page_obj %}
     <div class="responsive-table">
      <table class="alunos-table">
        <caption class="table-caption">
          Alunos
        </caption>
        <thead>
          <tr class="table-row table-row-header">
            <th class="table-header">ID</th>
            <th class="table-header">Nome</th>
            <th class="table-header">Localidade</th>
            <th class="table-header">Instrumento</th>
          </tr>
        </thead>
        <tbody>
          {% for aluno in page_obj %}
            <tr class="table-row">
              <td class="table-cel"> 
                <a href="{% url 'aluno:aluno' aluno.id %}" 
                  class="table-link">
                  {{aluno.id}}
                </a>
              </td>
              <td class="table-cel"> 
                {{aluno.nome_completo}}
              </td>
              <td class="table-cel"> 
                {{aluno.localidade}}
              </td>
              <td class="table-cel"> 
                {{aluno.instrumento}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>
    {% include 'global/partials/_pagination.html' %}

     {% else %}
     <div class="single-aluno">
      <h1>Aluno não encontrado</h1>
  
   </div>

     {% endif %}
     {% endblock content %}
    

   
    </main>
</body>
</html>