<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-flex" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )" target="_blank"><img src="images/banner/foreground-04-1600x60.png" srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img class="brand-logo-light" src="images/logo-inverse-415x103.png" alt="" width="207" height="51"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="about-us.html">About Us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html">Typography</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                    </ul><a class="button button-primary button-sm" href="#">Donate</a>
                  </div>
                </div><a class="button button-primary button-sm" href="#">Donate</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="parallax-container" data-parallax-img="images/bg-breadcrumbs-about.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-1 bg-gray-1-decor">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6 pr-xl-5"><img src="images/about-us-1-518x430.jpg" alt="" width="518" height="430"/>
            </div>
            <div class="col-lg-6">
              <h3>About Helper</h3>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4 class="text-opacity-70">We are committed to helping wounded kids find their place.</h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesqu</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <h3 class="text-center">Our Mission</h3>
          <div class="row row-30 row-md-40 row-xl-60">
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-earth icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Achieving Change</a></h4>
                  <p>Grandis, albus decors etiam desiderium de noster, clemens vita.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-umbrella2 icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Care &amp; Protection</a></h4>
                  <p>Cum advena peregrinationes, omnes brabeutaes manifestum germanus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-baby2 icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Saving Children</a></h4>
                  <p>Cum zirbus favere, omnes habenaes talem barbatus, brevis fraticinidaes.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-sun icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Peace On The Planet</a></h4>
                  <p>Cum solitudo favere, omnes exsules consumere superbus, pius fermiumes.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-leaf icon-primary icon-xl-min"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Increasing Awareness</a></h4>
                  <p>Cum lixa accelerare, omnes xiphiases tractare festus, regius demolitionees.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-share2 icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Sharing Happiness</a></h4>
                  <p>Cum aonides peregrinationes, omnes nutrixes experientia lotus, alter lixaes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <h3 class="text-center">Our Team</h3>
          <div class="row no-gutters">
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-1-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Jane Smith</a></h4>
                  <p>Executive director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-2-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Albert Martinez</a></h4>
                  <p>Adoption program Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-3-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Ann Allen</a></h4>
                  <p>Educational program Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-4-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Evelyn Perez</a></h4>
                  <p>IT Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-5-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Daniel Bryant</a></h4>
                  <p>Community support Manager</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-6-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Louis Powell</a></h4>
                  <p>Assistant property Manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><a class="section section-banner" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-03-1920x310.jpg) 1x, url(images/banner/background-03-3840x620.jpg) 2x )" target="_blank"><img src="images/banner/foreground-03-1600x310.png" srcset="images/banner/foreground-03-1600x310.png 1x, images/banner/foreground-03-3200x620.png 2x" alt="" width="1600" height="310"></a>
      <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12"><a href="index.html"><img src="images/logo-inverse-415x103.png" alt="" width="207" height="51"/></a></div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="#">Causes</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Team</a></li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#"></a></li>
                </ul>
              </div>
            </div>
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Helper</span><span>.&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span>Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com/">Templatemonster</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>